
page-wish {
    #wgtmsr{
        width:90vw;   
       }
    
       #wgtmsr option{
        width:90vw;   
      }
    
      .styled-select select {
        background: transparent;
        width: 268px;
        padding: 5px;
        font-size: 16px;
        line-height: 1;
        border: 1px solid powderblue;
        border-radius: 0.5;
        height: 34px;
        -webkit-appearance: none;
        }
}
