
page-wish {
       #lists{
        width:80vw;   
       }
    
       #lists option{
        width:80vw;   
       }
    
      .styled-select select {
        background: transparent;
        width: 228px;
        padding: 5px;
        font-size: 16px;
        line-height: 1;
        border: 1px solid powderblue;
        border-radius: 0.5;
        height: 34px;
        -webkit-appearance: none;
        }
        .wrapper {
            text-align: center;
        }
        
        .addbutton {
            position: absolute;
            left: 28%;
            color: #FFFFFF;
            background-color:	#20B2AA;
            width: 43vw;
            height: 9vw;
        }
        .dropdown {
            height: 9vw;
        }
        .newlist {
            height: 9vw;
        }
}
